[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
asyncio = "*"
aiohttp = "*"
websockets = "*"
python-dotenv = "*"
html-sanitizer = "*"

[dev-packages]
pytest = "*"
pylint = "*"
mypy = "*"
ipython = "*"

[requires]
python_version = "3.9"
