/* General */
body {
  background-color: white;
}

/* GENERAL PANEL STYLES */
.panel {

}
.panel-left {
  width: 60%;
  border-right: none;
}
.panel-right {
  width: 40%;
}
/* SPECIFIC PANEL STYLES */
/* GamePanel */
#game-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
}

/* HomePanel */
#home-panel {
  background-color: black;
  background-image: url('/img/splash.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* StartPanel */
#start-panel {
  background-color: lightgray;
  border: 5px solid black;
  text-align: center;
}
#start-panel button, #start-panel input {
  font-size: 1.5rem;
}

#start-panel #btnCreateGame {
  margin-top: 30%;
}

#start-panel input {
  margin-bottom: 3px;
}

#start-panel button {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

/* WaitingRoomPanel */
#waitingroom-panel {
  text-align: center;
  background-color: black;
  color: white;
  padding: 25px 0;
  position: relative;
}

#waitingroom-panel h2 {
  margin-bottom: 0;
}

#waitingroom-panel button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

#waitingroom-panel #listOfPlayers {
  margin-top: 20px;
}

#waitingroom-panel #lstOfPlayers .character {

}

/* RegistrationPanel */
#registration-panel {
  text-align: center;
  background-color: lightgray;
  border: 5px solid black;
  position: relative;
}

#registration-panel h2#chooseIcon {
  font-size: 21px;
  margin-top: 30px;
}

#registration-panel h2#chooseDisplay {
  font-size: 15px;
  margin-bottom: 0;

}

#registration-panel button.icon {
  margin-right: 5px;
  margin-bottom: 15px;
  border: 0;
  padding: 0;
  outline: none;
}

#registration-panel button.icon.clicked img {
  border: 3px solid black;
}

#registration-panel button.icon img {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

#registration-panel button.icon.taken img {
  opacity: 0.5;
}

#registration-panel #btnRegister {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
}

/* Gameboard Panel */
#gameboard-panel {
  display: flex;
  flex-direction: column;
}
#gameboard-panel .row {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}
#gameboard-panel .col {
  flex-grow: 1;
  position: relative;
}
#gameboard-panel .room-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#gameboard-panel .room-label {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;

}

/* InteractionPanel */
#interaction-panel {
  display: flex;
  flex-direction: column;
}
#interaction-panel #top-panel {
  flex-grow: 2;
  background-color: red;
}
#interaction-panel #bottom-panel {
  flex-grow: 1;
  background-color: green;
}
/* InteractionPanel Sub-panels */
.tabbed-panel {

}
.tabbed-panel .selectors {
  display: flex;
  flex-direction: row;
}
.tabbed-panel .selectors .tab-selector {
  border: 1px solid black;
  text-align: center;
  flex-grow: 1;
  background-color: white;
  font-weight: bold;
  color: #2962ff;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}
.tabbed-panel .selectors .tab-selector.active {
  background-color: lightgray;
}
.tabbed-panel .tab {

}
#accuse-panel {

}
#suggest-panel {

}
#move-panel {

}
#chat-panel {

}
#notepad-panel {

}

/* ModalPanel */
#modal-panel {
  /* take over the whole screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#modal-panel .inner {
  background-color: white;
  width: 60%;
  height: 40%;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
  margin-top: 10em;
  margin: auto;
  border-radius: 20px;
  padding: 1em;
}

#modal-panel .inner #btnOkay {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  margin: .5em;
}
