/* General */
body {
  background-color: white;
}

/* GENERAL PANEL STYLES */
.panel {

}
.panel-left {
  width: 60%;
  border-right: none;
}
.panel-right {
  width: 40%;
}
/* SPECIFIC PANEL STYLES */
/* GamePanel */
#game-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
}

/* HomePanel */
#home-panel {
  background-color: black;
  background-image: url('/img/splash.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* StartPanel */
#start-panel {
  background-color: lightgray;
  border: 5px solid black;
  text-align: center;
}
#start-panel button, #start-panel input {
  font-size: 1.5rem;
}

#start-panel #btnCreateGame {
  margin-top: 30%;
}

#start-panel input {
  margin-bottom: 3px;
}

#start-panel button {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

/* WaitingRoomPanel */
#waitingroom-panel {
  text-align: center;
  background-color: black;
  color: white;
  padding: 25px 0;
  position: relative;
}

#waitingroom-panel h2 {
  margin-bottom: 0;
}

#waitingroom-panel button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

#waitingroom-panel #listOfPlayers {
  margin-top: 20px;
}

#waitingroom-panel #lstOfPlayers .character {

}

/* RegistrationPanel */
#registration-panel {
  text-align: center;
  background-color: lightgray;
  border: 5px solid black;
  position: relative;
}

#registration-panel h2#chooseIcon {
  font-size: 21px;
  margin-top: 30px;
}

#registration-panel h2#chooseDisplay {
  font-size: 15px;
  margin-bottom: 0;

}

#registration-panel button.icon {
  margin-right: 5px;
  margin-bottom: 15px;
  border: 0;
  padding: 0;
  outline: none;
  background-color: white;
}

#registration-panel button.icon.clicked img {
  border: 3px solid black;
}

#registration-panel button.icon img {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

#registration-panel button.icon.taken img {
  opacity: 0.5;
}

#registration-panel #btnRegister {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
}

/* Gameboard Panel */
#gameboard-panel {
  display: flex;
  flex-direction: column;
}
#gameboard-panel .icon {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
/* Second person in room goes in bottom right */
#gameboard-panel .icon:nth-child(4) {
  top: inherit;
  left: inherit;
  right: 0px;
  bottom: 0px;
}
/* The rare third person goes in the top right */
#gameboard-panel .icon:nth-child(5) {
  top: 0px;
  left: inherit;
  right: 0px;
  bottom: inherit;
}
/* Okay, 4, but any more than 4 and you'll have to live with some layering :) */
#gameboard-panel .icon:nth-child(6) {
  top: inherit;
  left: 0px;
  right: inherit;
  bottom: 0px;
}
#gameboard-panel .icon .label {
  background-color: white;
}
#gameboard-panel .icon.localPlayer {
  border: 5px solid lightgreen;
}
#gameboard-panel .icon img {
  width: 3em;
  height: 3em;
}
#gameboard-panel .row {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}
#gameboard-panel .col {
  flex-grow: 1;
  position: relative;
  border: 1px solid darkgray;
  background-color: black;
}
#gameboard-panel .col.col-outer {
  border: none;
}
#gameboard-panel .col.room {
  /* border: 1px solid white; */
}
#gameboard-panel .room-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#gameboard-panel .room-label {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

/* InteractionPanel */
#interaction-panel {
  display: relative;
}
#interaction-panel #top-panel {
  height: 70%;
}
#interaction-panel #bottom-panel {
  height: 30%;
}
/* InteractionPanel Sub-panels */
.tabbed-panel {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
.tabbed-panel .selectors {
  display: flex;
  flex-direction: row;
}
.tabbed-panel .selectors .tab-selector {
  border: 1px solid black;
  text-align: center;
  flex-grow: 1;
  background-color: darkgray;
  font-weight: bold;
  color: black;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}
.tabbed-panel .selectors .tab-selector.active {
  background-color: lightgray;
}
.tabbed-panel .tab {
  flex-grow: 1;
  display: block;
  overflow-y: scroll;
}
#suggest-panel, #accuse-panel, #turn-panel {
  display: flex;
  flex-direction: column;
}
#suggest-panel > div, #accuse-panel > div, #turn-panel button {
  flex-grow: 1;
}
#turn-panel button {
  flex-grow: 0.5;
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
}
#move-panel {
  display: flex;
  flex-direction: column;
}
#move-panel .mrow, #move-panel button {
  flex-grow: 1;
}
#move-panel .mrow {
  display: flex;
}
#move-panel button.direction:disabled {
  background-color: yellow;
  color: black;
}
#chat-panel {
  height: 87%;
}
#chat-panel .inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#chat-panel #chatlog {
  flex-grow: 15;
}
#chat-panel #sendgroup {
  flex-grow: 1;
  background-color:green;
  display: flex;
  flex-direction: row;
}
#chat-panel #sendgroup #txtChat {
  flex-grow: 9;
}
#chat-panel #sendgroup #btnSend {
  flex-grow: 1;

}
#notepad-panel {
  /* overflow-y: scroll; */
}
#notepad-panel table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  /* border: 1px solid white; */
}
#notepad-panel table, #notepad-panel th, #notepad-panel td {
  border: 1px solid white;
}
#notepad-panel table th {
  text-align: left;
  font-size: 2rem;
  vertical-align: bottom;
}
#notepad-panel table td.check {
  /* border: 1px solid white; */
  width: 1em;
  height: 1em;
  cursor: pointer;
}
#notepad-panel table td.check.yes {
  background-color: green;
}
#notepad-panel table td.check.no {
  background-color: red;
}

/* ModalPanel */
.modal {
  /* take over the whole screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 100;
}
#modal-panel {
  z-index: 101;
}

.modal .inner {
  background-color: white;
  width: 60%;
  min-height: 40%;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
  margin-top: 10em;
  margin: auto;
  border-radius: 20px;
  padding: 1em;
  max-height: 60%;
  overflow-y: scroll;
}

#modal-panel .inner #btnOkay {
  position: absolute;
  right: 0;
  border-radius: 10px;
  margin: .5em;
}

#toast-panel {
  display: none;
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: rgba(1,1,1,0.5);
  color: white;
  padding: 1em;
  min-width: 10%;
  border-radius: 1em;
  /* border: 1px solid black; */
  text-align: center;
}

#turn-indicator {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 10px;
}
#turn-indicator.yourturn {
  background-color: yellow;
}

#help-button {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #7200ca;
  padding: 10px;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Arial";
  cursor: pointer;
  border: 3px solid white;
  margin: 10px;
}
#help-button:hover {
  background-color: #e254ff;
}

#witness-items-button {
  display: none;
  position: absolute;
  bottom: 0;
  left: 100px;
  background-color: lightgray;
  padding: 10px;
  color: black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Arial";
  cursor: pointer;
  border: 3px solid white;
  margin: 10px;
}
