/* General */
body {
  background-color: lightgray;
}

#main-container {
  background-color: white;
}

/* Game - New */

/* GENERAL PANEL STYLES */
.panel {
  height: 800px;
}
.panel-left {
  width: 60%;
  border-right: none;
}
.panel-right {
  width: 40%;
}
/* SPECIFIC PANEL STYLES */
/* GamePanel */
#game-panel {
  display: flex;
  padding: 0;
  justify-content: center;
}

/* HomePanel */
#home-panel {
  background-color: black;
  background-image: url('/img/splash.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* StartPanel */
#start-panel {
  background-color: green;
}

/* WaitingRoomPanel */
#waitingroom-panel {

}

/* RegistrationPanel */
#registration-panel {

}

/* Gameboard Panel */
#gameboard-panel {

}

/* InteractionPanel */
#interaction-panel {

}
/* InteractionPanel Sub-panels */
#tabbed-panel {

}
#accuse-panel {

}
#suggest-panel {

}
#move-panel {

}
#chat-panel {

}
#notepad-panel {

}

/* ModalPanel */
#modal-panel {

}


/*------------ old below this line, needs to be migrated up ------------------*/
/* Game - OLD */
#game-container {
  display: flex;
  padding: 0;
  justify-content: center;
}
#display-panel,
#interaction-panel {
  height: 800px;
  overflow: hidden;
  border: 1px solid black;
}
#display-panel {
  width: 1000px;
  border-right: none;
}
#interaction-panel {
  width: 400px;
}

.screen {
  height: 800px;
}
.screen1 {
  display: inherit;
}
.screen2 {
  display: none;
}
.screen3 {
  display: none;
}

#display-panel .screen1 {
  background-color: black;
  background-image: url('/img/splash.png');
  background-position: center;
  background-size: 1000px 800px;
  background-repeat: no-repeat;
}
#display-panel .screen2 {
  padding: 50px;
}
#display-panel .screen2 h2 {
  text-align: center;
  width: 100%;
}
#display-panel .screen2 table.table td {
  border: none;
}

#interaction-panel .screen1,
#interaction-panel .screen2 {
  padding: 50px;
}
#interaction-panel .screen1 h2 {
  text-align: center;
}
#interaction-panel .screen3 {
  padding: 0;
  display: flex;
  flex-direction: column;
}
#interaction-panel .screen3 #top {
  flex-grow: 0.75;
}
#interaction-panel .screen3 #bottom {
  flex-grow: 0.25;
}
#interaction-panel .screen3 ul.nav-tabs {
  display: flex;
}
#interaction-panel .screen3 ul.nav-tabs li {
  flex-grow: 1;
  text-align: center;
  border: 1px solid gray;
}
#interaction-panel .screen3 ul.nav-tabs li a {
  color: black;
}
#interaction-panel .screen3 ul.nav-tabs li a.active {
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 2em;
}

/** screen 1 **/

div#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: black;
  text-align: center;
  display: flex;
  align-content: center;
}
img#imgSplash {
  width: 909px;
  height: 701px;
  object-fit: cover;
  border: 1px solid white;
}

div#startGame {
  text-align: center;
  /* background-color: white; */
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  top: 43%;
  left: 53%;
  transform: translate(-50%, -50%);
}
div#startGame .btn-primary {
  background-color: #f57f17;
  border: 3px solid white;
  font: 24px Arial;
}
div#startGame .btn-primary:hover {
  background-color: black;
}

/** screen2 gameboard table **/
/* div#screen3 {
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
} */
table#gameboard {
  background-color: black;
  width: 800px;
  height: 800px;
  /* margin: 50px; */
}
table#gameboard td {
  border: none;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}
/* table#gameboard td.room {
  background-color: yellow;
} */
table#gameboard td.passageway {
  background-image: url('/img/hallway.png');
}
table#gameboard td.room {
  padding: 0 5px;
  border: 5px solid black;
  background-size: contain;
}
table#gameboard td.room .name {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
table#gameboard td#study {
  background-image: url('/img/rooms/study.png');
  text-align: right;
  vertical-align: bottom;
}
table#gameboard td#lounge {
  background-image: url('/img/rooms/lounge.png');
  text-align: left;
  vertical-align: bottom;
}
table#gameboard td#library {
  background-image: url('/img/rooms/library.png');
  text-align: right;
  vertical-align: bottom;
}
table#gameboard td#conservatory {
  background-image: url('/img/rooms/conservatory.png');
  text-align: right;
  vertical-align: bottom;
}
table#gameboard td#hall {
  background-image: url('/img/rooms/hall.jpeg');
  text-align: center;
  vertical-align: bottom;
}
table#gameboard td#ballroom {
  background-image: url('/img/rooms/ballroom.jpeg');
  text-align: center;
  vertical-align: bottom;
}
table#gameboard td#billiard_room {
  background-image: url('/img/rooms/billiard_room.jpeg');
  text-align: center;
  vertical-align: bottom;
}
table#gameboard td#kitchen {
  background-image: url('/img/rooms/kitchen.jpeg');
  text-align: left;
  vertical-align: bottom;
}
table#gameboard td#dining_room {
  background-image: url('/img/rooms/dining_room.jpeg');
  text-align: left;
  vertical-align: bottom;
}

/** gameboard **/
div#txtMessages {
  height: 100px;
  overflow-y: scroll;
  border: 1px solid gray;
}
